body {
    margin-bottom: 100px;
}

#chat-Mensajes {
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: scroll;
}

.chat-input {
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}